body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./fonts/Satoshi-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/Satoshi-Bold.otf') format('otf');
}